.container {
  display: flex;
  height: 125vh;
  overflow: hidden;
  background-color: #f1f5f9;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
}

.mainContent {
  flex: 1;
  padding: 1.5rem;
  overflow: hidden;
  /* Default: Lock scroll for table pages */
  display: flex;
  flex-direction: column;
}

.scrollable {
  overflow-y: auto;
  /* Enable scroll for normal pages */
}

.noPadding {
  padding: 4px;
}